.idea/
.vscode/
.DS_Store
*.log
backend/vendor/
backend/node_modules/
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.env
backend/.phpunit.result.cache
